name: Deploy Development

on:
  push:
    branches: [ main ]

  pull_request:
    branches: [ main ]
    paths:
      - 'modules/**'
      - 'infra/**'
      - 'bots/**'
      - '.github/workflows/**'

permissions:
  contents: read
  id-token: write

concurrency:
  group: cicd-${{ github.repository_id }}-dev
  cancel-in-progress: true

jobs:
  deploy-dev:
    uses: ./.github/workflows/deploy-environment.yml
    with:
      environment: dev
      aws-region: eu-west-2
    secrets:
      aws-role-arn: ${{ secrets.AWS_DEV_ROLE_ARN }}
