name: Terraform Deploy

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
    secrets:
      aws_role_dev:
        required: false
      aws_role_test:
        required: false
      aws_role_sit:
        required: false
      aws_role_prod:
        required: false

env:
  TF_VERSION: "1.6.0"
  AWS_REGION: "eu-west-2"
  TF_INPUT: false
  TF_IN_AUTOMATION: true

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:
      - uses: actions/checkout@v4

      ########################################################
      # Resolve AWS Role Dynamically
      ########################################################
      - name: Set AWS Role
        id: role
        run: |
          echo "role=aws_role_${{ inputs.environment }}" >> $GITHUB_OUTPUT

      ########################################################
      # AWS AUTH
      ########################################################
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets[steps.role.outputs.role] }}
          aws-region: ${{ env.AWS_REGION }}

      ########################################################
      # Terraform Setup
      ########################################################
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      ########################################################
      # INFRA
      ########################################################
      - name: Init Infra
        working-directory: infra
        run: |
          terraform init -upgrade \
            -backend-config=state/${{ inputs.environment }}.config

      - name: Plan Infra
        working-directory: infra
        run: |
          terraform plan \
            -var-file=../bot/vars/${{ inputs.environment }}.tfvars \
            -out=tfplan-infra

      - name: Apply Infra
        working-directory: infra
        run: terraform apply -auto-approve tfplan-infra

      ########################################################
      # BOT
      ########################################################
      - name: Init Bot
        working-directory: bot
        run: terraform init

      - name: Plan Bot
        working-directory: bot
        run: |
          terraform plan \
            -var-file=vars/${{ inputs.environment }}.tfvars \
            -out=tfplan-bot

      - name: Apply Bot
        working-directory: bot
        run: terraform apply -auto-approve tfplan-bot
